.navbar-container {
  display: flex;
  background-color: #ff7878;
  align-items: center;
  position: relative;
  .navbar-logo {
    position: absolute;

    left: calc(50% - 80px);
    display: flex;
    align-items: center;
    p {
      color: #fff;
      font-size: 2.5rem;
      font-family: Title-font;
    }
  }
}
